* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    font-family: Roboto;
    font-weight: 400;
}
.header {
    width: 1440px;
}
.footer {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 144px;
    background-color: #6B6B6B;
}
.footer-link {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.foter-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.main {
    padding: 67px 144px;
    background-color: #EBEBEB;
}
.header-main {
    width: 1152px;
    height: 365px;
    display: flex;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-main-title {
    font-size: 39px;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 11px;
}
.header-main-p {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    margin-bottom: 30px;
}
.panel {
    width: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.logotip {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    gap: 67px;
    padding: 52px 154px;
    background-color: #c0bbbb;
}
.what {
    width: 1440px;
    padding: 54px 144px;
    background-color: #fffefe;
}
.what1-1 {
    display: flex;
}
.what1 {
    width: 576px;
    padding: 68px 47px 96px 20px;
}
.what1-title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding-bottom: 14px;
}
.what1-p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.what2 {
    display: flex;
}
.what2-2 {
    width: 576px;
    padding: 68px 0px 58px 20px;
}
.what2-title {
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.frame {
    max-width: 1440px;
    padding: 89px 144px 80px;
    text-align: center;
    background-color: #EBEBEB;
}
.frame-title {
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 11px;
}
.frame-p {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0em;
    color: #333333;
    margin-bottom: 10px;
}
.frame-p2 {
font-size: 12px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: #777777;
}
.frame-p2-1 {
    margin-bottom: 50px;
}
.grid {
    display: grid;
    grid-template-columns: 364px 364px 364px;
    grid-template-rows: 316px;
    gap: 30px;
}
.tips {
    max-width: 1440px;
    background-color: #fffefe;
}
.tips-title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    padding: 99px 0px 20px 144px;
}
.oxiri {
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6B6B6B;
    gap: 830px;
}
.rectangle {
    width: 1440px;
    height: 50px;
    background-color: #111111;
    padding-left: 144px;
    display: flex;
    align-items: center;
}
.rectangle-text {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #777777;
}